name: Build and push Docker images

on:
  workflow_call:
    inputs:
      enabled:
        type: boolean
        required: false
        default: true
      context:
        type: string
        default: '.'
        required: false
      file:
        type: string
        default: 'Dockerfile'
        required: true    
      registry:
        type: string
        required: false
        default: 'ghcr.io'
      latest:
        type: string
        required: false
        default: 'false'
      prefix:
        type: string
        required: false
        default: ''
      suffix:
        type: string
        required: false
        default: ''
      target:
        type: string
        required: false
        default: ''
      network:
        type: string
        required: false
        default: 'host'

jobs:
  build:
    if: ${{ inputs.enabled }}
    runs-on: ci-server
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      -
        name: Get Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ inputs.registry }}/${{ github.repository }}
          flavor: |
            latest=${{ inputs.latest }}
            prefix=${{ inputs.prefix }}
            suffix=${{ inputs.suffix }}
      -
        name: Login to GitHub Container Registry          
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.file }}
          network: ${{ inputs.network }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          target: ${{ inputs.target }}
